.cart-menu-wrapper {
    position: relative;
}

.cart-product-count {
    position: absolute;
    font-size: 10px;
    height: 14px;
    width: 14px;
    text-align: center;
    border-radius: 50%;
    top: 0;
    right: -12px;
}